services:
  blocked-numbers-app:
    container_name: blocked-numbers-app
    image: blocked-numbers-app:latest
    working_dir: /usr/src/app
    command: sh -c "npm install && node server.js"
    ports:
      - "0.0.0.0:3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: always
